header {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
}

.site-name {
  align-self: flex-start;
  margin-left: 10px;
}
.site-name__text {
  color: #D79922;
  font-family: 'Concrete', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1vw;
  padding-top: 1vw;
}

.nav__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.nav {
  flex: 1;
  max-width: 25%;
}

.nav__link {
  color: #303C6C;
  padding: 0.25vw;
}

.current-page {
  pointer-events: none;
  outline: solid 0.2vw #303C6C;
  border-radius: 0.2vw;
  background-color: #42508c;
}

.current-page__text {
  color: white;
}

.nav__link:hover {
  outline: solid 0.2vw #303C6C;
  border-radius: 0.3vw;
  transition: outline 0.1s linear;
}
.nav__link:link {
  text-decoration: none;
}

.nav__link:visited {
  text-decoration: none;
}

main {
  background-color: #f2f2f2;
  padding: 0.7vw;
}

.content {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
}

.footer {
  display: none;
}

@media (min-width: 630px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
  }
}

.basic-border {
  border-radius: 0.3vw;
  border: 0.1vw groove #E0E0E0;
}

.filters {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 15%;
  margin-top: 1vw;
}

.filters__header {
  align-self: center;
  margin-left: 10px;
  text-align: left;
  max-width: 100%;
}

.filter {
  display: flex;
  margin-top: 0.5vw;
  margin-left: 1vw;
  margin-bottom: 0.2vw;
  align-items: center;
}

.filter__label {
  color: #020202;
  text-align: left;
  margin-left: 1.2vw;

}

.filter__input {
  height: 1.3vw;
  width: 1.3vw;
}

.filters__button {
  width: 80%;
  border-radius: 3vw;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  align-self: center;
  padding: 0.5vw 0.5vw;
  margin: 0.5vw;
  border: 0;
}

.venues {
  display: flex;
  flex-direction: column;
  margin-top: 0.5vw;
  margin-left: 1vw;
  max-width: 80%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search {
  display: flex;
  flex-direction: row;
  float: right;
  /*flex: 1;*/
  max-height: 3vw;
  height: 2vw;
  margin-left: 7vw;
  width: 50%;
}

.search__input {
  margin-right: 0.5vw;
  color: #303C6C;
  width: 60%;
  height: auto;
}

.search__button {
  color: #303C6C;
  width: 25%;
  height: auto;
}

.search__button:hover {
  border: 0.1vw groove #303C6C;
}

.search__input:hover {
  border-color: #303C6C;
}


.venue {
  margin-top: 0.5vw;
  background-color: white;
}

.venue-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 0.5vw;
}

h2 {
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

.venue__name {
  width: 25%;
  margin-left: 10px;
}

.venue__link {
  color: #303C6C;
}

.venue__link:link {
  text-decoration: none;
}

.venue__link:visited {
  text-decoration: none;
}

.venue__link:hover{
  text-shadow: 0 0 0.15vw #D79922;
}

.photo-container {
  margin-left: 2px;
  margin-right: 3px;
  position: relative;
}

.venue-info__photo {
  border-radius: 0.5vw;
  opacity: 1;
  display: flex;
  height: auto;
  width: 100%;
  max-width: 100%;
  transition: .5s ease;
  box-shadow: 0 1.5vw 3vw 0 rgba(0, 0, 0, .22), 0 0.5vw 0.7vw 0 rgba(0, 0, 0, .18);
}

.photo-content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 94%;
  max-width: 100%;
  max-height: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.venue-info__description {
  color: black;
}

.photo-container:hover .venue-info__photo {
  opacity: 0.4;
  filter: blur(0.25vw);
}

.photo-container:hover .photo-content {
  opacity: 1;
}

.venue-stats {
  display: flex;
}

.stat {
  text-decoration: underline;
  font-weight: bold;
}

.venue-stats__rating,
.venue-stats__views,
.venue-stats__contacts {
  text-align: center;
  margin-left: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
}

.h2-text {
  max-width: 100%;
  color: #303C6C;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  line-height: 1;
}

.confirm-button-text {
  max-width: 100%;
  color: #303C6C;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 1;
}

.default-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1vw;
  letter-spacing: 0.1em;
  line-height: 1;
}

.paragraph-text {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.1em;
  font-size: 1vw;
  line-height: 2;
}


.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3vw;
}

.user__name {
  flex: 1;
  font-size: 1.2vw;
  line-height: 1;
  margin-left: 1vw;
}

/*.venue-reviews .review:nth-child(even) {*/
/*  align-items: flex-end;*/
/*}*/

/*.venue-reviews .review:nth-child(even) .review__text {*/
/*  border-radius: 5px;*/
/*  background-color: #cecece;*/
/*  margin-left: 10px;*/
/*  margin-right: 10px;*/
/*  margin-top: 1vw;*/
/*}*/

.user__photo {
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;

}

.venue-reviews {
  max-height: 25vw;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
}

.venue-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 630px) {

  .venue-content {
    display: flex;
    flex-direction: row;
  }
  .venue-reviews {
    flex-direction: row;
    flex: 1;
    float: right;
  }

  .venue-reviews::-webkit-scrollbar {
    display: none;
  }
}

.review {
  margin-left: 5px;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: column;
}

.review__text {
  border-radius: 0.5vw;
  background-color: #f3f3f3;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1vw;
  padding: 0.5vw;
}
